# Ignore in source build files and directories ...
/cmake_install.cmake
/CMakeBuild
/CMakeCache.txt
/CMakeFiles
/CTestTestfile.cmake
/DartConfiguration.tcl
/install_manifest.txt
Makefile
build-Debug

/bin
/lib
/Misc/
/share/

# Ignore all dotfiles...
.*
!.git-blame-ignore-revs
!.gitattributes
!.circleci
!.github/

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude QtCreator files
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files
*.pyc

# Ignore Python source directories
cython-*/
Python-*/

# Ignore Python source archives
Python-*.tgz
Python-*.zip

# Ignore modified CPython files in submodules
# These are handled by patches during build
../cpython/Lib/test/test_getpath.py
../cpython/Modules/getpath.py
../cpython/Programs/_bootstrap_python.c
